<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 5bfda20d3dddeb1ecdaa8966af6236e8642569fb
body {
    background-image: url("../images/background.png");
    font-family: chalk;
    background-size: cover;
    

  }
.header{
  font-size: 100px;
  text-align: center;
  color: white;
  font-family:"chalk";
}
h1{
  font-size: 100px;
  background-color:#B0c4de;
  opacity: 1;
  
}
h2{
  color: white;
  font-family: chalk;
  font-size: 40px;
}

@font-face{
  font-family: chalk;
  src:url(../ChalkboardByMartaVanEck-gvpp.ttf);
}

  .product-filters {
    padding: 0.5rem 1.5rem;
    margin-top: 2.5rem;
    color: white;

  }
  
  .product-filters label {
    color: #8a8a8a;
  }
  
  .product-filters .menu.nested {
    margin-left: 0rem;
    margin-bottom: 0.9rem;
  }
  
  .product-filters .menu > li > a {
    padding-left: 0;
    color: #4a4a4a;
    font-size: 0.85rem;
    font-weight: 600;
  }
  
  .product-filters .is-accordion-submenu-parent > a::after {
    border-color: #cacaca transparent transparent;
  }
  
  .product-filters .clear-all {
    font-size: 0.9rem;
    color: #cacaca;
  }
  
  .product-filters .more {
    color: #1779ba;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .product-filters-header {
    font-size: 1.25rem;
    padding-top: 0.5rem;
  }
  
  .product-filters-tab {
    border-top: 1px solid #e6e6e6;
  }
  
  .product-filters-tab:last-child() {
    border-bottom: 1px solid #e6e6e6;
  }
  
  .mobile-product-filters {
    border-bottom: 1px solid #e6e6e6;
  }

button {
  background-color:#B0c4de;
  border: none;
  color: white;
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: chalk;
  width: 25%;
  margin:auto;
  display:block;
}
<<<<<<< HEAD
=======
>>>>>>> 321a16487feaafc0705f23a5108f2f8702a2f763
=======
>>>>>>> 5bfda20d3dddeb1ecdaa8966af6236e8642569fb
