 body {
    background-image: url("../images/background.png");
    width: auto;
} 

.header {
    width: 80%;
    margin: auto;
    overflow: hidden;

}


.head{
    float: left;
    color: #fff;
    font-family: cursive;

}

nav a{
    display: block;
    width: auto;
    
}

li{
    display: inline;
    padding: 1rem;
}

li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.active{
    color: gold;
}

.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
    b
}


.showcase h1{
    color: #fff;
    font-family: cursive;
    text-align: center;
}

.showcase h3{

    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}


.category{
    color: #fff;
    margin-top: 5%;
    display: flex;
    text-align: center;
    font-family: cursive;
}

.img{
    width: 78%;
    border-radius: 50%;

}

.snacks, .grill{
    padding: 1rem;

}

h4{
    font-size: 1rem;
    margin: 3%;
    color: blue;

}


.btn{
    background-color: gold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
}


h2{
    color: chartreuse;
}







